<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3rd Tech Challenge</title>
</head>
<body>
  <h1>Welcome</h1>
  <h2>This is my api</h2>
  <p>Pardon the dust, this is rough draft.</p>
  <p>I will make this prettier in the future. :)</p>
</body>
</html>